<div id="route-link-list-container">
  <h1>Mob Psycho 100 API</h1>
  <h3><a href="https://github.com/harrisonbooth/mob-psycho-100-api">Github</a></h3>
  <h2>Available routes:</h2>
  <ul>
    <li><a href="https://mob-psycho-100-api.herokuapp.com/api/characters">Characters</a></li>
    <li><a href="https://mob-psycho-100-api.herokuapp.com/api/organisations">Organisations</a></li>
  </ul>
</div>